<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
  
    <style>
        body{
            background-color: aliceblue;
        }

        .pass{
            background-color: rgb(32, 81, 123);
            border-radius: 10px;
            margin: 10% 25%;
            width:50%;
            height:300px;
            align-items: center;
            box-shadow: 1px 6px 6px rgb(30, 29, 29);
            opacity: 0.9;
            padding: 15px;
        }
       
        .pass1{
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.9;
            padding: 15px;
        }
        img{
            width:120px;
            border-radius: 20px;
        }
    </style>

    
    <title>Password Changed</title>
  </head>
  <body>

<div class="pass">
    <div class="pass1">
      <img src="https://storage.googleapis.com/pai-images/8ff3e869aa264d97be51e278a10c31d8.jpeg" alt="Success" />
    </div>
    <div class="pass1">
        <h1> Password has been changed ThankYou</h1>
    </div>
</div>

  </body>
</html>
